<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (c) 2019. This code and all it's likeness are property of Kintu Declan Trevor.
  ~ d-kintu@outlook.com
  ~ Any unauthorised use of this material shall lead to legal prosecution. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.declan.qwiktings">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/qwiktings_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/qwiktings_launch_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".StartActivities.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StartActivities.Sign_Up" />

        <activity android:name=".StartActivities.Reset_Password" />

        <activity
            android:name=".BodyActivities.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".BodyActivities.QwikShop_List" />

        <activity android:name=".BodyActivities.ItemDetails" />

        <activity android:name=".BodyActivities.Cart" />

        <activity
            android:name=".BodyActivities.OrderStatus"
            android:label="@string/title_activity_order_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".BodyActivities.TrackingOrder"
            android:label="@string/title_activity_tracking_order" />
        <activity android:name=".ViewHolder.Order_Details" />

        <service
            android:name=".Services.ListenOrder"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".BodyActivities.PayActivity"></activity>
    </application>

</manifest>